@font-face {
  src: url("../fonts/Brusher.ttf");
  font-family: 'brusher';
}

@font-face {
  src: url("../fonts/edosz.ttf");
  font-family: 'edosz';
}

@font-face {
  src: url("../fonts/Brushcrazy DEMO.otf");
  font-family: 'brushify';
}

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 82%;
  margin: 0 auto;
}

header {
  background-color: #383E42;
}

header .wrapper {
  position: relative;
  width: 93.5%;
}

header .wrapper h1 {
  display: inline-block;
}

header .wrapper nav {
  display: inline-block;
}

header .wrapper nav a {
  color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -1px;
  padding: 10px 25px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

header .wrapper nav a:hover {
  color: #FFF;
}

header .wrapper nav ul:last-child {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  transform: translateY(-52%);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

header .wrapper ul:last-child a {
  padding: 10px 32px;
}

header .wrapper ul:last-child a.log-in {
  position: relative;
  padding: 10px 16px 10px 22px;
}

.log-in span {
  display: block;
}

.log-in span:last-child {
  color: #EDC133;
}

.topics-section::after,
.more-section::after,
.log-in::after {
  content: '\f078';
  font-family: "fontAwesome";
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  padding: 7px;
}

.log-in::after {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: -9%;
  bottom: auto;
  left: auto;
  transform: translateY(-50%);
}

.log-in::before {
  content: '\f007';
  font-family: "fontAwesome";
  color: #FFF;
  font-size: 15px;
  padding: 7px;
  position: absolute;
  z-index: 0;
  top: 50%;
  right: auto;
  bottom: auto;
  left: -2%;
  transform: translateY(-50%);
}

.search::before {
  content: '\f002';
  font-family: "fontAwesome";
  color: #FFF;
  font-size: 14px;
  padding: 11px;
}

.search + input,
header .hamburger,
header .wrapper h1 + ul {
  display: none;
}

.advertisement {
  padding: 1% 0 1.2%;
  background-color: #FFF;
}

.advertisement .wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.advertisement a {
  color: #000;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

.advertisement a:hover {
  color: red;
}

.advertisement span {
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0.2%;
}

.advertisement figure {
  display: inline-block;
  padding-left: 5px;
  transform: translateY(-6%);
}

.advertisement figure img {
  width: 95%;
  margin: 0 0 0 5%;
}

body {
  background-color: #f6f6f7;
}

.navigation {
  padding: 1.4% 0 0.7%;
}

.navigation ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navigation a {
  color: #3e768b;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: -1px;
  text-decoration: underline;
}

.navigation .hamburger {
  padding: 12.5px;
  background-color: #000;
}

.news article {
  width: 23.3%;
  margin-bottom: 2.1%;
  background-color: #FFF;
  float: right;
}

.news article:nth-child(2) .article-image {
  background: url("../images/Rectangle.png") 50% 50% no-repeat;
  background-size: cover;
  height: 175px;
}

.news article:nth-child(3) img {
  width: 40%;
}

.news article:nth-child(3) .article-image {
  background: url("../images/2.jpg") 50% 50% no-repeat;
  background-size: cover;
  height: 175px;
}

.news article:nth-child(4) .article-image {
  background: url("../images/Home_img-e1533629478865-1.jpg") 50% 50% no-repeat;
  background-size: cover;
  height: 175px;
}

.news article.active {
  padding-bottom: 31.8%;
  float: left;
  width: 74.45%;
  height: 100%;
}

.news article.active .article-content {
  padding: 5.5% 3.5%;
}

.news article.active h2 {
  padding-bottom: 4.5%;
  color: #3e768b;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -2px;
  word-spacing: -2px;
  text-decoration: none;
}

.news article.active p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.5px;
}

.news article.active .social-icon {
  padding-top: 7%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.news article.active .social-icon li {
  padding: 0 6.5px;
}

.news article.active .social-icon li:last-child {
  padding-right: 0;
}

.news article.active .linked-in,
.news article.active .twitter,
.news article.active .mail,
.news article.active .facebook {
  width: 46px;
  height: 46px;
  text-indent: -9999px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.news article.active .linked-in::before,
.news article.active .twitter::before,
.news article.active .mail::before,
.news article.active .facebook::before {
  position: absolute;
  font-family: "fontAwesome";
  top: 50%;
  left: 50%;
  font-size: 35px;
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
}

.news article.active .linked-in::before {
  content: '\f0e1';
  text-indent: 0;
}

.news article.active .twitter::before {
  content: '\f099';
  text-indent: 0;
}

.news article.active .mail::before {
  content: '\f0e0';
  text-indent: 0;
}

.news article.active .facebook::before {
  content: '\f09a';
  text-indent: 0;
}

.article-content {
  padding: 2.8% 6% 3.5%;
  box-sizing: border-box;
}

.article-content span {
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

.article-content img {
  width: 33.5%;
  padding: 1% 0 8%;
}

.article-content h2 {
  padding-bottom: 4%;
  color: #3e768b;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-transform: none;
  letter-spacing: -1px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.article-content h2:hover {
  color: red;
}

.article-content p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.5px;
  word-spacing: -1px;
}
