@font-face {
  src: url("../fonts/Brusher.ttf");
  font-family: 'brusher';
}

@font-face {
  src: url("../fonts/edosz.ttf");
  font-family: 'edosz';
}

@font-face {
  src: url("../fonts/Brushcrazy DEMO.otf");
  font-family: 'brushify';
}

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 84%;
  margin: 0 auto;
}

header {
  background-color: #383E42;
}

header .wrapper {
  position: relative;
  width: 93.5%;
}

header .wrapper h1 {
  display: inline-block;
}

header .wrapper nav {
  display: inline-block;
}

header .wrapper nav a {
  color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -1px;
  padding: 10px 25px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

header .wrapper nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFF;
}

header .wrapper nav ul:last-child {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  transform: translateY(-52%);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

header .wrapper ul:last-child a {
  padding: 10px 32px;
}

header .wrapper ul:last-child a.log-in {
  position: relative;
  padding: 10px 16px 10px 22px;
}

.log-in span {
  display: block;
}

.log-in span:last-child {
  color: #EDC133;
}

.topics-section::after,
.more-section::after,
.log-in::after {
  content: '\f078';
  font-family: "fontAwesome";
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  padding: 7px;
}

.log-in::after {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: -9%;
  bottom: auto;
  left: auto;
  transform: translateY(-50%);
}

.log-in::before {
  content: '\f007';
  font-family: "fontAwesome";
  color: #FFF;
  font-size: 15px;
  padding: 7px;
  position: absolute;
  z-index: 0;
  top: 50%;
  right: auto;
  bottom: auto;
  left: -2%;
  transform: translateY(-50%);
}

.search::before {
  content: '\f002';
  font-family: "fontAwesome";
  color: #FFF;
  font-size: 14px;
  padding: 11px;
}

.search + input,
header .hamburger,
header .wrapper h1 + ul {
  display: none;
}
