.advertisement {
	padding: 1% 0 1.2%;
	background-color: #FFF;
	
	.wrapper {
		width: 82%;
		@include flex(nowrap,row,space-between,center,center);
	}

	a {
		@include textcharacteristics(#000,14px,800,uppercase);
		letter-spacing: -1px;
		text-decoration: underline;
	}

	span {
		@include textcharacteristics(rgba(0,0,0,0.8),13px,700,uppercase);
		letter-spacing: -1px;
		padding-top: 0.2%;
	}

	figure {
		display: inline-block;
		padding-left: 5px;
		transform: translateY(-6%);

		img {
			width: 95%;
			margin: 0 0 0 5%;
		}
	}
}
body {
	background-color: #f6f6f7;
}